*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}

p{
	margin:0;
}
h2{
	font-size: 2.2em !important;
    font-weight: 600 !important;
    margin-bottom: 1em !important;
    text-align: center;
    text-transform: uppercase;
}

header a{
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header{
	background-color: #000;
	height: 50px;
	position: fixed;
	z-index: 500;
	width: 100%;
}
.logo{
	position: relative;
	top: 10px;
}
.header-mask{
	width: 100%;
	height: 50px;
}
.container{
	margin: 0 auto;
	padding: 0 15px;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.header-right a{
	font-size: 1em;
	margin-right: 10px;
	position: relative;
	top: 13px;
	opacity: 0.5;
	
}
.header-right a:hover{
	opacity: 1;
}
.header-right a i:hover{
	color: #EF5F21;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.menu li{
	list-style-type: none;
	overflow:hidden;
	display: inline-block;
	padding: 10px 0; 
	margin-top: 4px;
}
.menu a{
	padding: 4px 10px;
	text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 3px;
 }
.menu a:hover{
	background-color: #EF5F21;
	color:#fff;
}

.search{
	position: fixed;
	top: 50px;
	right: 250px;
	height: 40px;
}


footer{
	background-color: #141414;
	height: 230px;
	width: 100%;
	overflow: hidden;
}

footer li{
	list-style-type: none;
}

footer li a{
	text-decoration: none;
	color:#fff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
footer li a:hover{
	color: #EF5F21;
}

.footer-top{
	padding: 2em 0 2em 0;
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.partners{
	display: flex;
	flex-wrap: wrap;
}

.item-partners{
	width: 33%;
}
.footer-item{
	width: 30%
}
.info{
	text-align: right;
}
footer p{
	color: #8c8c8c;
}

footer h5{
	font-size: 1.3em;
    color: #8c8c8c;
    margin: 0 0 1em;
    text-transform: uppercase;
    font-weight: 700;
}
.links{
	display: flex;
}

.link-item{
	display: block;
	width: 30px;
	height: 30px;
	background-size: contain;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin:15px 5px;

}
.num{
	color: #8c8c8c;
	text-decoration: none;
}

footer a.link1{
	background-image: url(../img/mail2.png);
	background-repeat: no-repeat;
}

footer a.link1:hover{
	background-image: url(../img/mail.png);
}
footer a.link2{
	background-image: url(../img/vk.png);
	background-repeat: no-repeat;
}

footer a.link2:hover{
	background-image: url(../img/vk2.png);
}
footer a.link3{
	background-image: url(../img/fb.png);
	background-repeat: no-repeat;
}

footer a.link3:hover{
	background-image: url(../img/fb2.png);
}







@media screen and (max-width: 1100px){
	.nav ul{
		width: 83%;
	}
	.header-left a{
		margin: 0 10px;
		position: relative;
		top: 10px;	
	}
}
@media screen and (max-width: 900px){
	}
	.header-right a{
		margin: 0 10px;
		position: relative;
		top: 10px;
	}
}
@media screen and (max-width: 768px){
	.search{
		height: 35px;
	}
	.header-right a{
		margin: 0 10px;
		font-size: 1em;
		position: relative;
		top: 9px;
		margin:0px 5px;
	}
	.header-right a:last-child{
		width: 100%;
		text-align: center;
	}

	.nav ul{
		width: 83%;
	}
}
	